/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* utilities */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    width: 1321px;
    margin: 0 auto;
}

.container {
    width: 1136px;
    margin: 0 auto;
}

/*------------------------------ banner section style start------------------------------------- */
.banner-section {
    margin-top: 50px;
}

.banner {
    background-color: #303952;
    border-radius: 30px;
}

.banner-info {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.banner-title {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.banner-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.banner-button {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding: 16px 25px;
    background-color: #fc5c65;
    /* text-align: center; */
    color: #FFFFFF;
    border-radius: 5px;
    transition: all 0.7s;
}

.banner-button:hover {
    color: #fc5c65;
    background-color: #fff;
}

.banner-button i {
    margin-left: 8px;
    line-height: 5px;
}

.banner-image {
    transition: all 0.5s;
    margin-bottom: -8px;
}

.banner-image:hover {
    transform: translate(40px, -15px);
}

.banner-image img {
    height: 613px;
    margin-left: 20px;
}

/*------------------------------ banner section style end------------------------------------- */

/*------------------------------ match details style start------------------------------------- */
.match-details {
    display: flex;
    margin-top: 130px;
}

aside {
    width: 312px;
    margin-right: 24px;
}

article {
    width: 721px;
}

.match-control-panel {
    padding: 30px;
    background-color: #303952;
    border-radius: 10px;
}

.upcoming-match,
.all-group,
.blog {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding: 17px 39px;
    background-color: #ffff;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.blog:hover,
.all-group:hover {
    background-color: #fc5c65;
    color: #fff;
}
.upcoming-match a,
.all-group a,
.blog a {
    text-decoration: none;
    color: #000000;
}
.upcoming-match {
    background-color: #fc5c65;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.upcoming-match:hover {
    background-color: #fff;
    color: #fc5c65;
}
.blog{
    margin-bottom: unset;
}
/* upcoming match section */
.upcoming-match-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 34px;
    grid-row-gap: 24px;
}
.upcoming-match-container:first-child{
    margin-left:14px;
}
.upcoming-match-info{
    box-shadow: 1px 1px 2px rgb(158, 158, 158);
    border-radius: 10px;
    padding: 53px 35px;
}

.country-flag{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 10px;
}
.match-title{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #161616;
}
.match-time{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #4D4D4D;
}
.view-all-button {
    margin-top: 40px 0;
    text-align: center;
    display: none;
    transition: all 0.5s;
}

.view-all-button a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding: 17px 39px;
    background-color: #fc5c65;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;

}

.view-all-button:hover {
    color: #fc5c65;
    background-color: #fff;
}

/*------------------------------ match details style end------------------------------------- */

/*------------------------------  footer section styles start------------------------------------- */
.footer-info {
    background-color: #303952;
    text-align: center;
    margin-top: 130px;
}

.footer-title {
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 50px;
    padding-top: 50px;
}

hr {
    border: 1px solid rgb(154 149 149 / 58%);
}

.footer-link {
    margin-top: 50px;
    padding-bottom: 130px;
}

.footer-link a {
    text-decoration: none;
    color: #B9B9B9;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-right: 60px;
}

.footer-link a:last-child {
    margin-right: unset;
}

.social-icon {
    display: none;
    padding-bottom: 15px;
}

.social-icon span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(194, 189, 189);
    display: inline-block;
    text-align: center;
    line-height: 42px;
    margin: 10px;
    transition: all 0.5s;
    }
    
    .social-icon span:hover {
        background-color: #fc5c65;
    }
.social-icon span i {
    color: #303952;
}

/*------------------------------  footer section styles end------------------------------------- */






/* *********************************** media queries *******************************************/
/* ----------------------------------576px for portrait phones.------------------------------------ */
@media only screen and (max-width: 576px){
    .container-fluid {
            width: 100%;
        }
    
        .container {
            width: 100%;
        }
    
        /* banner screen */
        .banner-section {
            margin: 20px 15px 35px 15px;
            overflow-x: hidden;
        }
    
        .banner-info {
            display: block;
            text-align: center;
            padding-top: 30px;
        }
    
        .banner-info-details {
            margin-top: 50px;
            margin: 0 20px;
        }
    
        .banner-title {
            font-weight: 700;
            font-size: 30px;
            line-height: 33px;
            color: #FFFFFF;
        }
    
        .banner-description {
            margin-bottom: 45px;
            font-size: 14px;
            line-height: 24px;
        }
    
        .banner-image {
            margin-bottom: -18px;
        }
    
        .banner-image img {
            width: 233px;
            height: 245px;
            margin-top: 60px;
            width: 100%;
        }
    
        /* match details screen  */
        .match-details {
            display: block;
            margin-top: 20px;
        }
    
        aside {
            width: 100%;
        }
    
        article {
            width: 100%;
        }
    
        .match-control-panel {
            background-color: unset;
            border-radius: unset;
            padding: 5px;
        }
    
        .upcoming-match,
        .all-group,
        .blog {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            background-color: #ffff;
            margin-bottom: 30px;
            cursor: pointer;
            text-align: center;
        }
    
        .upcoming-match a,
        .all-group a,
        .blog a {
            text-decoration: none;
            color: #000000;
            padding: 15px 10px;
            border: 1px solid rgb(163, 162, 162);
            border-radius: 10px;
        }
    
        .blog a {
            background-color: #fc5c65;
            margin-bottom: 0;
        }
    
        .upcoming-match-container {
            grid-template-columns: repeat(1, 1fr);
            margin-right: 15px;
        }
    
        img {
            width: 100%;
        }
    
        /* footer screen */
        .footer-info {
            margin-top: 30px;
            overflow-x: hidden;
        }
    
        .footer-link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: unset;
        }
    
        .footer-link a {
            margin-right: unset;
            margin-bottom: 30px;
            font-size: 16px;
            font-weight: 500;
        }
    
        .social-icon {
            display: block;
        }
}
/* ---------------------------------------mobile device-------------------------------------------*/
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .container-fluid {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    /* banner screen */
 .banner-section{
        margin: 20px 15px 0 15px;
        overflow-x: hidden;
    }
   .banner-info {
       display: block;
       text-align: center;
   }
    .banner-info-details {
        margin-top: 50px;
        margin: 0 20px;
        padding-top: 40px;
    }
    .banner-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 33px;
        color: #FFFFFF;
    }
    .banner-description {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 24px;
    }
    .banner-image {
        margin-bottom: -18px;
    }
    .banner-image img {
        width: 233px;
        height: 245px;
        margin-top: 60px;
        width: 100%;
    }
    /* match details screen  */
    .match-details {
        display: block;
        margin-top: 20px;
    }
    aside {
        width: 100%;
    }

    article {
        width: 100%;
    }
    .match-control-panel {
        padding: 30px;
        background-color: unset;
        border-radius: unset;
    }
 .upcoming-match,
    .all-group,
    .blog {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        background-color: #ffff;
        margin-bottom: 30px;
        cursor: pointer;
        text-align: center;
    }
   .upcoming-match a,
   .all-group a,
   .blog a {
       text-decoration: none;
       color: #000000;
       padding: 17px 30px;
       border: 1px solid rgb(163, 162, 162);
       border-radius: 10px;
   }
    .blog a {
        background-color: #fc5c65;
        margin-bottom: 0;
    }
    .upcoming-match-container {
        grid-template-columns: repeat(1, 1fr);
        margin-right: 15px;
    }
    img {
        width: 100%;
    }

    /* footer screen */
    .footer-info {
        margin-top: 35px;
        overflow-x: hidden;
    }
    .footer-title {
        font-size: 22px;
        margin: 24px 0;
        padding-top: 24px;
    }
    .footer-link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: unset;
        }
        .footer-link a {
              margin-right: unset;
              margin-bottom: 30px;
              font-size: 16px;
              font-weight: 500;
          }
        .social-icon {
            display: block;
        }  
}

/* -------------------------------------------tablet device --------------------------------*/

@media only screen and (min-width:769px) and (max-width:992px) {
    .container-fluid {
        width: 100%;
    }
    .container {
        width: 100%;
    }

    /* banner  screen  */
    .banner{
        margin: 0 20px;
    }
    .banner-info-details {
        margin-left: 50px;
    }

    .banner-title {
        font-size: 35px;
        line-height: 45px;
    }

    .banner-description {
        margin-bottom: 25px;
        margin-top: 10px;
        font-size: 14px;
    }
    .banner-image img {
        width: 323px;
        height: 340px;
    }
    .banner-button {
        font-size: 16px;
        line-height: 23px;
        padding: 14px 20px;
    }

    /* match details screen */
    .match-details {
        display: block;
        margin-top: 20px;
    }

    aside {
        width: 100%;
    }

    article {
        width: 100%;
    }

    .match-control-panel {
        background-color: unset;
        border-radius: unset;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .upcoming-match,
    .all-group,
    .blog {
        padding: 17px 28px;
        margin-bottom: 30px;
        border: 1px solid gray;
        margin-right: 20px;
        Width: 220px;
    }

    .upcoming-match a,
    .all-group a,
    .blog a {
        text-decoration: none;
        color: #000000;
        font-size: 19px;
    }

    .blog {
        background-color: #fc5c65;
        margin-right: 0;
    }
   .upcoming-match-container {
       grid-template-columns: repeat(2, 1fr);
       margin: 0 20px;
   }

    img {
        width: 100%;
    }

    .view-all-button {
        margin-top: 50px;
        text-align: center;
        display: block;
    }
    /* footer  screen */
    .footer-info {
        margin-top: 80px;
    }

    .footer-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 70px;
    }

    .footer-link a {
        margin-bottom: 50px;
    }
}

/* --------------------------------------------------------- End ----------------------------------------- */

